<footer class="py-2 bg-light mt-auto border-top">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Deha KPI Management System @DateTime.Now.Year</div>
            <div>
                <a href="#" class="text-decoration-none small">Privacy Policy</a>
                &middot;
                <a href="#" class="text-decoration-none small">Terms of Use</a>
            </div>
        </div>
    </div>
</footer> 