/* UI Scaling Feature CSS */

:root {
  --ui-scale: 1;
}

.ui-scale-90 {
  --ui-scale: 0.9;
}

.ui-scale-80 {
  --ui-scale: 0.8;
}

.ui-scale-75 {
  --ui-scale: 0.75;
}

.ui-scale-100 {
  --ui-scale: 1;
}

html[data-scale] body {
  zoom: var(--ui-scale);
  -moz-transform: scale(var(--ui-scale));
  -moz-transform-origin: 0 0;
}